<!-- remove head and body tags in production, only neign used to test layout before angular build

<head>
    <link type="text/css" rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>-->


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-header">
        <p class="navbar-text"><a ng-href="#" class="navbar-link">Profile</a></p>
        <p class="navbar-text"><a ng-href="#" class="navbar-link">Task</a></p>
        <p class="navbar-text"><a ng-href="#" class="navbar-link">Reports</a></p>
        </div>
    <div class="navbar-right">
      <p class="navbar-text navbar-right">Signed in as <a ng-href="#" class="navbar-link">{{messagel}}</a></p>
      </div>  
  </div>
</nav>
