<!-- remove head and body tags in production, only neign used to test layout before angular build -->

<head>
    <link type="text/css" rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Task Manager</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active text-center"><a href="#">Profile <span class="sr-only">(current)</span></a></li>
        <li class="text-center"><a href="#">Task</a></li> 
        <li class="text-center"><a href="#">Dashboard</a></li>
     <!--   <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Task</a></li>  
            <li><a href="#">Logout</a></li>  
          </ul>
        </li> -->
      </ul>
      
    
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    
</body>