<!-- remove head and body tags in production, only neign used to test layout before angular build 

<head>
    <link type="text/css" rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../../bower_components/font-awesome/css/font-awesome.min.css">
    <script src="../../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head> -->


    <div class="jumbotron col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 text-center">
        <h2> Register </h2>
        
        <form  name="registerForm" class="col-sm-8 col-sm-offset-2" ng-submit="register()"  novalidate>
           <p ng-show="message">{{message}} </p>
            <div class="form-group">
                <label for="userSelector"> Select your name.</label>
                <select name="userSelect" class="form-control" id="userSelector">
                  <option>Joe Dirt</option>
                  <option>Bill Parker</option>
                  <option>Please fill out form...</option>      
                </select>
            </div>
            
            <div class="form-group has-feedback" ng-class="{'has-error': registerForm.firstName.$invalid && registerForm.firstName.$touched, 'has-success' : registerForm.firstName.$valid && registerForm.firstName.$touched}">
                <label for="firstName">First Name</label>
                <input name="firstName" type="text" id="firstName" class="form-control text-center" placeholder="First Name" ng-model="user.firstName" ng-required="true">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="registerForm.firstName.$invalid && registerForm.firstName.$touched"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="registerForm.firstName.$valid && registerForm.firstName.$touched"></span>
            </div>
            
            <div class="form-group has-feedback" ng-class="{'has-error': registerForm.lastName.$invalid && registerForm.lastName.$touched, 'has-success' : registerForm.lastName.$valid && registerForm.lastName.$touched}">
                <label for="lastName"> Last Name</label>
                <input name="lastName" type="text" id="lastName" class="form-control text-center" placeholder="Last Name"  ng-model="user.lastName" ng-required="true">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="registerForm.lastName.$invalid && registerForm.lastName.$touched"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="registerForm.lastName.$valid && registerForm.lastName.$touched"></span>
            </div>
            
            <div class="form-group has-feedback" ng-class="{'has-error': registerForm.workEmail.$invalid && registerForm.workEmail.$touched, 'has-success' : registerForm.workEmail.$valid && registerForm.workEmail.$touched}">
                <label for="email"> Work Email</label>
                <input name="workEmail" type="email" id="email" class="form-control text-center" placeholder="example@example.com" ng-model="user.email" ng-required="true">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="registerForm.workEmail.$invalid && registerForm.workEmail.$touched"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="registerForm.workEmail.$valid && registerForm.workEmail.$touched"></span>
            </div>
            
            <div class="form-group has-feedback" ng-class="{'has-error': registerForm.password.$invalid && registerForm.password.$touched, 'has-success' : registerForm.password.$valid && registerForm.password.$touched}">
                <label for="password"> Password</label>
                <input name="password" type="password" id="userPassword" class="form-control text-center" placeholder="password" ng-model="user.password" ng-required="true">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="registerForm.password.$invalid && registerForm.password.$touched"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="registerForm.password.$valid && registerForm.password.$touched"></span>
            </div>
            
            <button type="submit" ng-disabled="registerForm.$invalid"  class="btn btn-info">Submit</button>
            
        </form>
        
    </div>
