<!-- remove head and body tags in production, only neign used to test layout before angular build -->

<head>
    <link type="text/css" rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../../bower_components/font-awesome/css/font-awesome.min.css">
    <script src="../../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../../bower_components/holderjs/holder.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="col-sm-3 well" id="profileMenu">
            <div class="col-sm-12 text-center" id="profileHead">
                <img data-src="holder.js/175x150">
                <h3>Joe Dirt <br> <small>Project Manager</small></h3>
            </div>
            <div class="col-sm-12 text-center" id="profileOptions">
                <ul class="list-unstyled">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Notifications</a></li> 
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Reports</a></li>
                </ul>
            </div>
        </div>
        
        <div class="col-sm-9 pull-right text-center" id="profileInfo">
            <h2> Settings </h2>
            <div class="col-sm-10 col-sm-offset-1">
                <p>
                    Hoodie vinyl cornhole chicharrones ugh, cold-pressed actually swag banh mi. Seitan taxidermy squid, brunch skateboard fanny pack whatever green juice art party. Echo park whatever letterpress, keffiyeh street art chillwave PBR&B shabby chic. Roof party gastropub readymade, stumptown mlkshk occupy art party kale chips lomo sriracha. Tattooed seitan yuccie, trust fund aesthetic affogato literally tofu yr cronut kombucha twee biodiesel bushwick locavore. Heirloom chicharrones banjo, beard pour-over plaid scenester. Biodiesel offal craft beer, vinyl disrupt kombucha green juice beard irony chicharrones tote bag occupy echo park fanny pack.


                </p>
            </div>
        </div>
    </div>
</body>